/* this is comment used in css files. comment have no values in coding does not affect codes */

/* -------------------universal styling */

/*for smooth scroll*/
html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url();
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------top navbar styling */
.top-header{
    background-color: #f7ffef;
    height: auto;
    min-width: 100%;
}

header{
    min-width: 100vw;
    background-color: transparent;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img{
    height: 90px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(79, 78, 78);
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover{
    color: orangered;
}

.btn{
    background-color: rgb(0, 183, 255);
    padding: 25px;
    border-radius: 30px;
    color: black;
    transition: 0.4s ease-in-out;
}

.btn:hover{
    background-color: rgb(240, 90, 4);
}

/*------------------------hero-section styling*/
.hero-section{
    min-width: 100vw;
    text-align: justify;
}

.hero-section p{
    text-align: justify;
}

.hero-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 10px;
}

.left-box{
    margin-left: 40px;
    padding: 50px 0;
    text-align: justify;
}


.started{
    text-decoration: none;
    color: rgb(245, 115, 9);
    font-weight: 600;
    font-size: 18px;
}

.ready{
    color: rgba(7, 7, 7, 0.897);
    margin-bottom: 8px;
    font-weight: 550;
}

.letf-box 


span{
    color: #118afc;
}

.left-para{
    margin-bottom: 35px;

}

/* styling right image of top section */
.right-img{
    width: 50px;
    height: 50px;
}

/* styling feature boxes and section */ 
.feature h3{
    margin-top: 150px;
    background-color: #f7ffef;
    text-align: center;
}

.feature .text{
    background-color: #f7ffef;
}

.feature .image-text img{

}

.feature{
    background-color: white;
    padding: 0 100px; /*padding of each section will be same as mach as needed */
    display: flex;
    align-items: center;
    justify-content: space-around; 
}


.boxes{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.boxes:hover{
    box-shadow: 0px 5px 15px rgb(7, 156, 243);
    cursor: pointer;
}

.boxes h2{
    font-size: 18px;
    color: rgb(49,48,48);
    margin: 5px 0;
    text-align: center;
}

.boxes p{
    color: rgb(131,131,131);
    text-align: justify;
}

.al-shawdow{
    box-shadow: 0px 5px 15px #bdbdbd;
}

/*----------------------styling online course section */

.course-top{
    padding: 0 0 100px 0; /* only need bottom padding or use padding-bottom:100px;*/
}

.online-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: #118afc;
    font-size: 30px;
    margin-top: 150px;
    text-decoration: underline;
    background-color: #f7ffef;
}


.online-courses{
    background-color: white;
    height: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.online-courses img{
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.online-box{
    background-color: #f7ffef;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgb(177,177,177),2px 2px 5px rgb(177,177,177);
    transition: 0.3s ease-in-out;
    margin: 60px;
}

.online-box:hover{
    box-shadow: 0px 5px 15px #bdbdbd;
    cursor: pointer;
}

.online-box h2{
    font-size: 18px;
    color: rgb(35, 97, 211);
    margin: 5px 0;
}

.online-box p{
    color: black;
    margin: 5px 0;
}

.course-btn{
    font-size: 14px;
    color: white;
    padding: 8px 20px;
    margin: 7px 0;
}
.bottom-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0;
}

.left-date{
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
}

/*-----------------testimonial styling*/

.temoignage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;  /* later can change as per need*/
    padding-bottom: 100px;
    background-color: #f7ffef;
}

.test-title{
    color: #118afc;
    padding-bottom: 40px;
    text-decoration: underline;
    font-size: 30px;
    margin-top: 10px;
}

.temoignage-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    border-radius: 0;
}

.temoignage-box img{
    margin-right: 30px;
    border-radius: 6000vh;
    border-spacing: 300px;
}

.temoignage-box p{
    font-weight: 550;
    color: black;
}

/*styling footer*/

footer{
    height: 60vh;
    background-color: rgb(13, 13, 14);
    padding: 0 100px 100px 0;
}

.footer-box{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-box .liens{
    text-decoration: underline;
}

.footer-box icone-footer{
    color: wheat;
}

.footer-links{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.footer-about{
    width: 40%;
    color: wheat;
    margin-left: 120px;
}

.footer-about h3{
    text-align: center;
}

.footer-about p{
    text-align: center;
}

.footer-about i{
    text-align: center;
}

.footer-links h3{
    margin-bottom: 10px;
    color: wheat;
    font-size: 17px;
    text-decoration: underline;
    text-align: center;
}

.footer-links a{
    color: wheat;
    text-decoration: none;
    margin: 6px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}

.footer-links a:hover{
    color: white;
}

.end{
    text-align: center;
    color: wheat;
}